@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Oswald;
}
body {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 100vh;
}

#library-html {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 2em 0 2em;
	height: 80vh;
	border: 3px dashed black;
	font-size: 1.5rem;
	color: rgb(10, 10, 10);
	text-align: center;
	& p {
		background-color: rgba(0, 0, 0, 0.096);
		margin-bottom: 1em;
		border-radius: 10px;
		letter-spacing: 0.1em;
		position: relative;
	}
	& p:first-child {
		margin-top: 1em;
	}
	& span {
		cursor: pointer;
		border: 1px solid black;
		border-radius: 5px;
		box-shadow: 4px 4px rgb(3, 75, 17);
	}
}
.newBook {
	width: 8vw;
	height: 3vh;
	background-color: rgb(34, 15, 15);
	color: rgb(255, 255, 255);
	outline: none;
	border: none;
	cursor: pointer;
	&:hover {
		background-color: rgba(255, 1, 1, 0.506);
	}
}

.read-YES {
	background-color: rgb(10, 255, 10);
	&:hover {
		box-shadow: 4px 4px rgb(25, 26, 25);
		background-color: rgb(123, 202, 139);
	}
}

.read-NO {
	background-color: red;
	&:hover {
		box-shadow: 4px 4px rgb(25, 26, 25);
		background-color: rgb(202, 123, 123);
	}
}
